<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,Chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title</title>
    <link href="~/Content/js/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/js/bootstrap/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/js/bootstrap/css/bootstrap-table.css" rel="stylesheet" /> 
    <link href="~/Content/js/my97datepicker/skin/WdatePicker.css" rel="stylesheet" />
     <link href="~/Content/css/framework-base.css" rel="stylesheet" />
    <link href="~/Content/css/framework-font.css" rel="stylesheet" />
    <link href="~/Content/css/framework-ui.css" rel="stylesheet" />
    <link href="~/Content/js/layer/skin/layer.css" rel="stylesheet" />

    <link href="~/Content/css/base.css" rel="stylesheet" />
    <link href="~/Content/css/index.css" rel="stylesheet" />
    <script src="~/Content/js/bootstrap/js/jquery-3.0.0.min.js"></script>
    <script src="~/Content/js/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/js/bootstrap/js/bootstrap-table.js"></script>
    <script src="~/Content/js/bootstrap/js/bootstrap-table-zh-CN.js"></script>
    <script src="~/Content/js/bootstrap/js/bootstrap-select.min.js"></script>
    <script src="~/Content/js/bootstrap/js/defaults-zh_CN.js"></script>
    <script src="~/Content/js/common.js"></script>
    <script src="~/Content/js/my97datepicker/WdatePicker.js"></script>
    <script src="~/Content/js/layer/layer.js"></script>
    <script src="~/Content/js/framework.js"></script>
    <script src="~/Content/js/jquery.datagrid.js"></script>

</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
